body{
    margin: 0;
    padding: 0;
    box-sizing: 0px;
}
.nav{
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.main{
    margin-left:30px;
}

.card {
    border: 1px solid black;
    width: 200px;
    margin: 5px;
}

.completed {
    background-color: green;
}

.not-completed {
    background-color: red;
}


/* CSS Styles */
.currency-converter {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.amount-input {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
}

.currency-select {
    padding: 5px;
}

.arrow {
    font-size: 20px;
    margin: 0 10px;
}

.result {
    font-size: 18px;
    font-weight: bold;
}

